{{!< default}}

<header id="header" class="header{{#if @site.cover_image}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@site.url}}">
			<h1 class="header-name">{{@site.title}}</h1>
			{{#if @site.description}}
				<span class="header-description">{{@site.description}}</span>
			{{/if}}
		</span>
	</div>
	{{#if @site.cover_image}}
	<div class="header-cover" style="background-image: url({{img_url @site.cover_image}})"></div>
	{{/if}}
</header>

<div class="wrapper-o">
	<div id="post-index" class="wrapper">

		<main class="content" role="main">

			{{> "loop"}}

		</main>

	</div>
</div>
