{{!< default}}

{{#post}}

<main class="content" role="main">

	    <article class="{{post_class}}">

				<div class="wrapper-o">
					<div class="wrapper">

						<header class="post-header">
							<div class="inner">
								<h1 class="post-title">{{{title}}}</h1>
							</div>
						</header>

						<div class="inner">
							<section class="post-content">
								{{content}}
							</section>
						</div>

				    {{/post}}
					</div>
				</div>

	    </article>

</main>
